In [90]:
import os
os.getcwd()

'c:\\Users\\PYC\\Desktop\\DEV\\112-2_bigdata\\W04'

In [91]:
import pandas as pd

fb = pd.read_excel('../data/fb.xls', skiprows=1)
fb

,地標ID,地標名稱,累積打卡數,latitude,longitude,類別,地區
0,164103576936475,Taiwan Taoyuan International Airport,711761,25.076389,121.223889,機場,桃園縣
1,1393970400817450,臺灣桃園國際機場第二航廈,411525,25.077949,121.232405,機場,桃園縣
2,159730407378429,Taipei Railway Station,391239,25.047769,121.517109,車站,台北市
3,162736400406103,Shilin Night Market,385886,25.088073,121.525044,觀光夜市,台北市
4,125435810861333,花園夜市,351568,23.010570,120.199785,觀光夜市,台南市
...,...,...,...,...,...,...,...
995,183364761700661,亞運保齡球館,15331,24.953810,121.260255,體育場/運動中心,桃園縣
996,196517257038264,台北火車站,15330,25.062309,121.519505,車站,台北市
997,190824237614716,台北市立第二殯儀館,15318,25.013344,121.552826,其他,台北市
998,183471931687138,炸蛋蔥油餅,15307,23.982602,121.606029,餐飲,花蓮縣
999,193948277283180,後壁湖遊艇港,15301,21.945043,120.743781,港口/碼頭,屏東縣

In [92]:
type(fb)

pandas.core.frame.DataFrame

In [93]:
dir(fb)[-175:-170]

['cumsum', 'describe', 'diff', 'div', 'divide']

In [94]:
fb.dtypes

地標ID           int64
地標名稱          object
累積打卡數          int64
latitude     float64
longitude    float64
類別            object
地區            object
dtype: object

In [95]:
fb['地標名稱']

0      Taiwan Taoyuan International Airport
1                              臺灣桃園國際機場第二航廈
2                    Taipei Railway Station
3                       Shilin Night Market
4                                      花園夜市
                       ...
995                                  亞運保齡球館
996                                   台北火車站
997                               台北市立第二殯儀館
998                                   炸蛋蔥油餅
999                                  後壁湖遊艇港
Name: 地標名稱, Length: 1000, dtype: object

In [96]:
fb[['地標名稱']]

                                     地標名稱
0    Taiwan Taoyuan International Airport
1                            臺灣桃園國際機場第二航廈
2                  Taipei Railway Station
3                     Shilin Night Market
4                                    花園夜市
..                                    ...
995                                亞運保齡球館
996                                 台北火車站
997                             台北市立第二殯儀館
998                                 炸蛋蔥油餅
999                                後壁湖遊艇港

[1000 rows x 1 columns]

In [97]:
fb.地標名稱

0      Taiwan Taoyuan International Airport
1                              臺灣桃園國際機場第二航廈
2                    Taipei Railway Station
3                       Shilin Night Market
4                                      花園夜市
                       ...
995                                  亞運保齡球館
996                                   台北火車站
997                               台北市立第二殯儀館
998                                   炸蛋蔥油餅
999                                  後壁湖遊艇港
Name: 地標名稱, Length: 1000, dtype: object

In [98]:
df = pd.DataFrame([['green', 'm', 10.1, 'class1'], ['red', 'l', 13.5, 'class2'], ['blue', 'xl', 15.3, 'class1']])
df.columns=['color', 'size', 'price', 'classlabel']
df

   color size  price classlabel
0  green    m   10.1     class1
1    red    l   13.5     class2
2   blue   xl   15.3     class1

In [99]:
size_mapping = {'xl': 3, 'l': 2, 'm': 1}
df['size'] = df['size'].map(size_mapping)
df

   color  size  price classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   blue     3   15.3     class1

In [101]:
from sklearn.preprocessing import LabelEncoder
class_le = LabelEncoder()
y = class_le.fit_transform(df['classlabel'])
y

array([0, 1, 0])

In [103]:
class_le.inverse_transform(y.reshape(-1, 1))

d:\anaconda3\envs\bigdata\lib\site-packages\sklearn\preprocessing\_label.py:154: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array(['class1', 'class2', 'class1'], dtype=object)

: